.ActorContainer
	width: 100%
	background-color: lightgray
	display: flex
	flex-direction: column
	.actorName
		font-size: 4vw
	.actorImg
		width: 50%
		img 
			width: 100%
	.actorDecs
		width: 100%
		